@import url('https://fonts.googleapis.com/css2?family=Arya:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Arya', sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 99%;
    
    --background-color: rgb(162, 102, 211);
}

.logo{
    --background-color: rgb(207, 103, 202);
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul{
    display: flex;
}
nav a{
    padding: 20px;
    color: #727272;
    text-decoration: none;  
    
}

nav .active a, nav a:hover{
    background-color: rgb(13, 126, 255);
    color: #ffff;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url(images/img1.jpeg);
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner_options{
    
    height: 210px;
    display: flex;
}

.banner_headline h1 {
    color: #ffff;
    font-size: 80px;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 11px rgba(0, 0, 0, 0.73);
}

.banner_headline h2{
    color: #ffff;
    font-size: 22px;
    text-shadow: 5px 5px 11px rgba(0, 0, 0, 0.73);
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.banner1, .banner2, .banner3{
    color: white;
    padding: 20px;
    flex: 1;

}

.banner1{
    background-color: #39aee1;
}

.banner2{
    background-color: #0079c7;

}

.banner3{
    background-color: #2c4c99;
}

.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    border: 1px solid #ffff;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#geral{
    display: flex;
    justify-content: center;
}
.conteudo_title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
}

.conteudo_bar{
    width: 50px;
    height: 5px;
    background-color: #36a9e1;
    margin-bottom: 10px;
}

#rodape{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
@media(max-width: 800px){
    .banner_headline h1{
        font-size: 55px;
    }
    .banner_headlineh1{
        padding: 20px;
    }
    .banner_headline h2{
        font-size: 17px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral{
        padding: 20px;
    }
    #rodape{
        flex-direction: column;
        padding: 20px;
    }
}